{% extends 'base.html' %}

{% block title %}info {% endblock %}

{% block head_extra %}
    {% endblock %}

{% block content %}

<div>
    <h1>Aprende mas sobre la nutrición</h1>
</div>
<h1 class="display-6">Con videos cortos y plantillas descargables aprender sehacemucho mas facil</h1>
<div class="row g-0 bg-body-secondary position-relative">
  <div class="col-md-6 mb-md-0 p-md-4">
    <img src="..." class="w-100" alt="...">
  </div>
  <div class="col-md-6 p-4 ps-md-0">
    <h5 class="mt-0">Aprende a leer etiquetas nutricionales</h5>
    <p>Aprender a leer etiquetas nutricionales es de suma importancia cuando te importa lo que comes, ademas te ayuda a comprar alimentos de manera 
        mas eficaz y completa segun tus necesidades personales o incluso salvarte si tienes una alergia</p>
    <a href="#" class="stretched-link">Da clik aqui..</a>
  </div>
</div>
{% endblock %}

{% block scripts %}
    {% endblock %}
