{% extends "base.html" %} 
{% block title %}Inicio - Kiwi App{% endblock %} 
{% block content %}
<div class="p-5 mb-4 bg-dark rounded-3">  <h2>
    Bienvenido a nuestro sitio web, aquí en la **Kiwi App** te ofrecemos variedad de
    opciones para mejorar y disfrutar mucho más tu experiencia con la comida.
    </h2>
</div>

<h3 class="text-center my-4">˚ ༘♡ ⋆｡˚Acerca de nosotros˚ ༘♡ ⋆｡˚</h3>

<div class="row mb-5">
    <div class="col-sm-6 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Objetivo</h5>
                <p class="card-text">
                    El objetivo de nuestra web es ayudarte a **mejorar tu salud** con
                    nuestras funcionalidades para que puedas gozar de un mejor estilo
                    de vida y ayudar a nuestra comunidad a mejorar su calidad de vida
                    reemplazando hábitos nocivos por hábitos saludables, cambiando la
                    mala cultura de la alimentación.
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">¿Qué puedes encontrar?</h5>
                <p class="card-text">
                    En nuestra web podrás encontrar **información nutricional** (recuerda
                    que buscamos informar y no desinformar a nuestros kiwi usuarios y
                    que lo hacemos sin fines de lucro para nuestra comunidad), **recetas**
                    que se adapten a tus necesidades y **consejos** que te pueden servir
                    en el futuro, entre otras funcionalidades y artículos informativos.
                </p>
            </div>
        </div>
    </div>
</div>

<hr>

<div class="container text-center my-5">
    <div class="row g-4">
        <div class="col-md-6">
            <img src="/static/img/carrusel.png" class="img-thumbnail" alt="imagen kiwi">
        </div>
        <div class="col-md-6">
            <img src="/static/img/carrusel1.png" class="img-thumbnail" alt="imagen kiwi">
        </div>
    </div>

    <h1 class="mt-5">🥝</h1>
    <h3 class="mb-3">En nuestra web...</h3>
    <h5 class="mb-5">encontrarás...</h5>
</div>

<div class="row justify-content-center g-4">
    <div class="col-md-4">
        <div class="card h-100">
            <div class="card-header bg-secondary text-white">
                Información
            </div>
            <div class="card-body">
                <figure>
                    <blockquote class="blockquote">
                        <p>Información confiable para aprender más sobre tu nutrición.</p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                        Incluyendo todas tus <cite title="Source Title">necesidades</cite>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card h-100">
            <div class="card-header bg-secondary text-white">
                Recetas
            </div>
            <div class="card-body">
                <figure>
                    <blockquote class="blockquote">
                        <p>Módulo de planificación y recetas.</p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                        Sencillas <cite title="Source Title">y fáciles</cite>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card h-100">
            <div class="card-header bg-secondary text-white">
                Herramientas
            </div>
            <div class="card-body">
                <figure>
                    <blockquote class="blockquote">
                        <p>Calculadoras útiles para ti (IMC, TBM, GTC).</p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                        Micronutrientes <cite title="Source Title">y peso ideal</cite>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</div>
<div>
<div class="d-grid gap-2 col-6 mx-auto">
  <button class="btn btn-secondary" type="button">¡Unete ahora!</button>
</div>
</div>

{% endblock %}