{% extends 'base.html' %}

{% block title %}info {% endblock %}

{% block head_extra %}
    {% endblock %}

{% block content %}
<main>
        <div class="grid text-center">
  <div class="g-col-6">.g-col-6
    <div class="card">
  <div class="card-body">
    <h3>¿Como leer etiquetas nutricionales?</h3>
    <p>¿Alguna vez has necesitado leer una etiqueta nutricional y no sabias como?, a continuación te presentamos material interesante
        que te podria ayudara aprender super rapido
    </p>
  </div>
</div>
  </div>
  <div class="g-col-6">.g-col-6</div>
</div>
</main>
{% endblock %}

{% block scripts %}
    {% endblock %}